footer{
    width: 550px;
    background-color: #161619;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

img{
    height: 30px;
    width: 30px;
    margin: 20px;
}